<%- include('header', {title, active: 'serie'}); -%>

<main class="container-fluid mt-3">
    <div class="row">
        <div class="col-8 mx-auto">
          <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Titolo</th>
                    <th>Descrizione</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
              <% serie.forEach((serie) => { %>
                <%- include('serie-partial', {serie}); -%>
              <% }); %>
            </tbody>
          </table>
        </div>
    </div>
</main>

<%- include('footer'); -%>